<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ditagis.hcm.docsotanhoa">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DocSoActivity"
            android:label="@string/title_activity_doc_so" />
        <activity
            android:name=".DocSoChupAnhActivity"
            android:label="Chụp ảnh đọc số" />
        <activity
            android:name=".LoginActivity"
            android:label="Đăng nhập" />
        <activity
            android:name=".QuanLyDocSoActivity"
            android:label="Quản lý đọc số" />
        <activity
            android:name=".QuanLyLoTrinhActivity"
            android:label="Quản lý lộ trình" />
    </application>

</manifest>